* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.header-bg-img {
    background-image: url("/assets/images/header-bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navlinks {
    font-size: 18px;
}

.gradiant-color {
    background: linear-gradient(to bottom right, #95D8EB 11.95%, #0076BE 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradiant-border-bottom {
    background: linear-gradient(to bottom right, #95D8EB 11.95%, #0076BE 100%);
    height: 3px;
    width: 100%;
}

.text-card {
    padding: 25px;
    border: 2px solid white;
    height: 100%;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.text-card:hover {
    background-color: white;
    color: black;
}

.text-card:hover h3,
.text-card:hover p {
    color: black !important;
}

.timeline {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline-middle {
    position: absolute;
    left: -18px;
    top: 0;
    width: 3px;
    height: 100%;
    background-image: linear-gradient(45deg, #95D8EB, #0076BE, #09324b);
}

.timeline-circle {
    position: absolute;
    left: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #95D8EB, #0076BE, #09324b);
}

.timeline-component {
    position: relative;
    margin: 20px 0 20px 40px;
    padding-left: 1.5rem;
}

.timeline-component::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #95D8EB, #0076BE, #09324b);
}

.timeline-content {
    position: relative;
    padding: 20px;
    background: #1f1f1f;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
    z-index: 2;
    transition: all 500ms linear;
}

.timeline-content:hover {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2), 0 8px 24px rgba(255, 255, 255, 0.15);
    transform: translateY(-5px);
}


.first-elipse {
    width: 350px;
    height: 350px;
    background-color: #95D8EB;
    filter: blur(80px);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -20%;
}

.second-elipse {
    width: 350px;
    height: 350px;
    background-color: #0076BE;
    filter: blur(80px);
    border-radius: 50%;
    position: absolute;
    bottom: -16%;
    right: -20%;
}

.third-elipse {
    width: 350px;
    height: 350px;
    background-color: #0076BE;
    filter: blur(80px);
    border-radius: 50%;
    position: absolute;
    top: -17%;
    right: -20%;
}

.fourth-elipse {
    width: 400px;
    height: 400px;
    background-color: #95D8EB;
    filter: blur(80px);
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: -22%;
}

.fifth-elipse {
    width: 400px;
    height: 400px;
    background-color: #95D8EB;
    filter: blur(80px);
    border-radius: 50%;
    position: absolute;
    top: -16%;
    left: -22%;
}

.sixth-elipse {
    width: 400px;
    height: 400px;
    background-color: #0076BE;
    filter: blur(80px);
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    right: -20%;
}

.animation-pulse {
    transition: all 0.3s ease-in-out;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }

    100% {
        transform: scale(0.8);
        opacity: 1;
    }
}

.header-btn {
    border: 1px solid;
    border-radius: 30px;
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(to bottom right, #95D8EB 11.95%, #0076BE 100%);
    transition: all 300ms linear;
}

.header-btn:hover {
    background: transparent !important;
    border: 1px solid #95D8EB;
    color: #95D8EB;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader h1 {
    animation: scaleAnimation 1.5s infinite ease-in-out;
}

@keyframes scaleAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.7);
    }
}

/* Hide preloader when content is loaded */
body.loaded #preloader {
    display: none;
}

.backToTop {
    display: none;
    position: fixed;
    bottom: 8px;
    right: 12px;
    z-index: 99;
    cursor: pointer;
}

.mobile-img {
    max-width: 450px;
    width: 100%;
    border-radius: 50%;
}
 
/* CLASSES TO BE APPEND BY JAVASCRIPT */

.show {
    right: 0 !important;
}

.rotate1 {
    transform: rotate(45deg) !important;
}

.rotate2 {
    transform: rotate(-45deg) !important;
    position: relative !important;
    top: -10px !important;
}

.rotate3 {
    display: none !important;
}


@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }

    .timeline-middle {
        position: relative;
        left: auto;
        background-image: linear-gradient(45deg, #95D8EB, #0076BE, #09324b);
        width: 3px;
        height: 100%;
    }

    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #95D8EB, #0076BE, #09324b);
    }

    .timeline-component {
        margin: 0px 20px 20px 20px;
    }

    .timeline-component::before {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .header-bg-img {
        height: unset;
    }

    .mobile-img {
        max-width: unset;
    }
}

@media screen and (max-width:768px) {
    .mobileview {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 100vh;
        transition: all 300ms linear;
        background: black;
        right: -100%;
    }

    .menu span {
        height: 4px;
        width: 40px;
        background: linear-gradient(to bottom right, #95D8EB 11.95%, #0076BE 100%);
        display: flex;
        flex-direction: column;
        margin-bottom: 6px;
        border-radius: 4px;
        position: relative;
        z-index: 3;
        transition: all 300ms linear;
    }

    .timeline-circle {
        display: none;
    }

    .timeline-middle {
        top: 51px;
    }

    .fs-36px {
        font-size: 36px !important;
    }

    .fs-28px {
        font-size: 28px !important;
    }

    .fs-16px {
        font-size: 16px !important;
    }
}